<div id="home-placeholder"></div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to my place!</h1>
        <p>Mi casa es tu casa, thanks for visiting my personal page, i hope you enjoy your stay</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

        </div>