     <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <h1>Welcome to my place!</h1>
        <p></p>
        <p>Thanks for visiting my personal page, i hope you enjoy your stay. Mi casa es tu casa.</p>
        <p ><a class="btn btn-primary btn-large">Come in ... </a></p>
      </div>
     </div>
